 #toggle-switcher
 {
     z-index: -1;
 }
 #navbarSupportedContent
 {
     z-index: 999;
     width: 60%;
     text-align: right;
 }
#myage
{
  display: inline;
}

#BackTop {
  position: fixed;
  display: block;
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 0;
  z-index: 999999999;
  background-color: white;
  border-radius: 50%;
}

.fa-facebook:hover {
  color: #0015FF;
}
.fa-telegram:hover {
  color: #00B6FF;
}
.fa-instagram:hover {
  color: #fd5949;
}
