ul li {
  list-style: none;
}
.progress ,.progress-bar {
  transition: 2s;
}
.lazy-image {
  opacity: 0;
  transition: 1s;
  display: none;
}
a {
  text-decoration: none;
}
.accordion-content a {
  color: #000;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{ 
  /* set background wave */
  #profile, #main {
    background-color: #03baff;
    background-image: url('/img/wave.svg');
    background-position: bottom;
    background-size: 0 cover;
    background-repeat: no-repeat;
  }
  #about, #contact {
    background-color: #16fb98;
    background-image: url('/img/wave2.svg');
    background-position: bottom;
    background-size: 0 cover;
    background-repeat: no-repeat;
  }
  .header {
    background-color: #006dea;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .burger,.header-mobile {
    display: none;
  }
  #profile nav ul li {
    margin: auto .5rem;
  }
  #profile nav ul li .link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
  }
  #profile nav ul li a.link:hover,
  #profile nav ul li a.active {
    background-color: #03baff;
    color: #fff;
  }
  #logo-image {
    width: 120px;
    height: 120px;
    border-left: solid 2px red;
    border-top: solid 2px red;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
  }
  #about p {
    font-size: 10px;
    margin-top: -40%;
  }
  #about .progress {
    margin-bottom: 30px;
  }
  /*
  .header {
    position: fixed;
    top: 0;
    
  }*/
 /* .f-sh:not(#profile) {
    display: none;
  }*/
  .f-sh {
    min-height: 600px;
    padding: 100px 0;
    width: 100%;
    align-items: center;
  }
  #skils, #project {
    width: 50%;
  }
  #skils p {
    margin: 0;
    font-weight: bold;
    font-size: 13px;
  }
  .top-main div {
    width: 50%;
  }
  #slide-container {
    width: 50%;
    margin-left: 25%;
    display: flex;
    overflow-x: hidden;
  }
  #slide-container img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #contact {
    justify-content: center;
  }
  #contact iframe {
    width: 300px;
    height: 300px;
  }
  #footer p {
    margin: 0;
  }
    /* accrodion */
  .accordion {
    position: relative;
    margin: auto .5rem;
    padding: 5px 60px;
    box-sizing: border-box;
  }
  .accordion-item {
    margin-top: -10px; 
    position: absolute;
    padding: 0 5px;
    top: 0;
    right: 0;
    left: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    
  }
  .accordion-item summary::-webkit-details-marker {
    display: none;
  }
  .accordion-item summary {
    padding: 5px 0px;
    border: none;
    outline: none;
  }
  .accordion-content {
    display: flex;
    align-items: center;
    padding: 5% 2px;
    justify-content: start;
    font-size: 15px;
    background-color: #fff;
    transition: all .5s ease-in;
  }
  .accordion-content p {
    margin: 0;
  }
  .accordion-item[open] .accordion-content:hover {
    justify-content: center;
    background-color: skyblue;
    text-align: center;
    position: relative;
    border-left: solid 5px #0072DF;
  }
  .marker {
    position: absolute;
    top: 8px;
    right: 10%;
  }
  .marker:before, .marker:after {
    /*
    content: "";
    position: absolute;
    top: 0%;;
    height: 12px;
    width: 2px;
    background-color: #000;
    transform: rotate(90deg);
    transition: .5s;
    */
  }
  .marker i {
    transform: rotate(180deg);
  }
  .accordion-item:not([open]) .marker:after,
  .accordion-item:not([open]) .marker i {
    transform: rotate(0deg);
  }
  .accordion-item.accordion-item:not([open]) .accordion-content {
    height: 0;
  }
  .accordion-item[open] .accordion-content {
    height: calc(100% + 10px);
    width: calc(200% + 9%);
    margin-left: -5px;
  }
  .accordion-item[open], 
  .accordion-item[open] .accordion-content{
    background-color: #eee;
  }
  .accordion-item[open] summary {
    border-radius: 0;
  }
  .accordion-item[open] .accordion-content:last-child {
    border-radius: 0 0px 5px 5px;
  }
  .accordion-item[open] .accordion-content:nth-child(2) {
    border-radius: 0 5px 0 0;
  }
  #slide-container {
    position: relative;
  }
  #slide-container .controller {
    display: flex;
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  #slide-container .controller i {
    padding: 20px 5px;
    background-color: #000;
    opacity: .4;
    color: #fff;
  }
  .progressSkils {
    max-height: 60vh;
    overflow-y: scroll;
  }
} /* end */
