@media (max-width: 575.98px)
{
  #profile {
    background-color: #03baff;
   /* background-image: url('/img/wave.svg');
    background-position: bottom;
    background-size: 10px cover;
    background-repeat: no-repeat;*/
  }
  #sklis, #about, #contact {
    background-color: #16fb98;
   /* background-image: url('/img/wave2.svg');
    background-position: bottom;
    background-size: 10px cover;
    background-repeat: no-repeat;*/
  }
.f-sh-mobile {
  padding: 30px 0;
}
#profile .my-hastag a {
  color: #fff;
  text-transform: capitalize;
}
#profile .my-hastag a:hover {
  color: #42445A;
}
#profile nav {
  overflow-x: hidden;
}
#profile {
  position: relative;
}
#profile nav {
  transition: 1s;
  width: 60%;
  min-height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 2;
  transform: translateX(-300%);
}
#profile nav ul {
  width: 100%;
  background-color: #fff;
  margin-left: 0%;
  margin-top: 5px;
}
#profile nav ul li {
  margin-left: -16%;
  text-align: left;
}
#profile nav ul li a.link{
  display: block;
  padding: 5% 0;
  width: 100%;
  color: #000;
  text-decoration: none;
  transition: .5s;
  font-size: 14px;
}
#profile nav ul li .link:hover {
  background-color: skyblue;
  text-align: center;
  position: relative;
  border-left: solid 5px #0072DF;
}
#profile nav ul li a.link:hover:visited, #profile ul li .link.active {
  text-align: center;
  background-color: skyblue;
  position: relative;
  border-left: solid 5px #0072DF;
}
#about p {
  font-size: .8rem;
}
#logo-image {
  width: 85px;
  height: 85px;
  border-left: solid 2px red;
  border-top: solid 2px red;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
}
.profile-mobile {
  width: 100%;
}
.header-mobile {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  background-color: #03baff;
  transition: .2s;
}
.logo-text-mobile {
  transition: 1.2s;
}
.header-mobile h1 {
  margin-right: 10px;
  font-size: 15px;
  margin-top: 10px;
  display: none;
}
#contact iframe {
  width: 100%;
  height: 300px;
}
#skils p {
  margin: 0px;
  font-size: 15px;
}
#slide-container {
  overflow-x: hidden;
  display: flex;
  width: 100%;
}

#slide-container img {
  height: 80vh;
  width: 100%;
}
#form-contact {
  border-radius: 10px;
}
  #footer p {
    margin: 0;
  }
    /* accrodion */
  .accordion-item {
    background-color: #fff;
    position: relative;
    border: none;
    outline: none;
    margin: 1px 0;
    transition: height 1s ease-in;
    z-index: 1;
  }
  .accordion-item:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 40px;
    height: 2px;
    bottom: 0;
    width: 0;
    content: "";
    background: rgb(74,118,217);
    background: linear-gradient(90deg, rgba(74,118,217,1) 4%, rgba(0,155,255,1) 41%, rgba(0,255,248,1) 98%);
    transition: all linear .5s;
  }
  .accordion-item[open]:before {
    width: 100%;
  }
  .accordion-item summary {
    cursor: pointer;
    outline: none;
    padding: 5% 0px;
    text-transform: lowercase;
    position: relative;
    font-size: 14px;
  }
  .accordion-item summary::-webkit-details-marker {
    display: none;
  }
  .accordion-content {
    display: flex;
    align-items: center;
    padding: 5% 0px;
    justify-content: start;
    font-size: 12px;
    transition: all .5s ease-in;
  }
  .accordion-content p {
    margin: 0;
  }
  .accordion-content:hover {
    justify-content: center;
    background-color: skyblue;
    text-align: center;
    position: relative;
    border-left: solid 5px #0072DF;
  }
  .marker {
    position: absolute;
    top: calc(50% - 6px);
    right: 24px;
  }
  
  .marker:before, .marker:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 12px;
    width: 2px;
    background-color: #000;
    transform: rotate(90deg);
    transition: .5s;
  }
  .accordion-item:not([open]) .marker:after {
    transform: rotate(0deg);
  }
  .accordion-item.accordion-item:not([open]) .accordion-content {
    height: 0;
  }
  .accordion-item[open] .accordion-content {
    height: calc(100% + 10px);
    background-color: #E2E6E9;
  }
  .accordion-item[open] .accordion-content:hover {
    background-color: skyblue;
  }
  .accordion-item[open] summary {
    border: none;
  }
  #slide-container {
    position: relative;
  }
  #slide-container .controller {
    display: flex;
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  #slide-container .controller i {
    padding: 20px 5px;
    background-color: #000;
    opacity: .4;
    color: #fff;
  }
  #slide-container .controller i:hover {
    animation: touch .5s;
    transition: .5s;
    background-color: #fff;
    padding: 20px 5px;
    color: #000;
  }
  #slide-container img:hover {
    opacity: 0;
    position: relative;
    transform: scale(1.2);
  }
  .progressSkils {
    max-height: 30vh;
    overflow-y: scroll;
  }
} 
/* end */
.progress-bar {
  animation: progress 2s linear ;
  transition: 1s;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: attr(aria-valuenow);
    
  }
}
  
