* {
  margin: 0;
  padding: 0;
}
.mynav {
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}
.mynav .fuck-nav {
  padding: 4.3%;
  font-size: 12px;
  background-color: yellow;
  margin: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.base-card .title {
  font-size: 1rem;
  overflow-x: scroll;
}