@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #1e293b;
}

::-webkit-scrollbar-thumb {
    background: #0ea5e9;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #38bdf8;
}

.swiper-pagination-bullet {
    background-color: #38bdf8;
    width: 10px;
    height: 10px;
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #0ea5e9;
}